localhost, tastylabs.de, www.tastylabs.de {
    handle /h2-console/* {
        reverse_proxy tastylabs:8080
        basicauth {
            TastyLabsAdmin JDJhJDE0JDM2Y3RNNzF6ZEtFdmMzWDV3NXM2OGU2TC96NzZ5N0RTS20vaWpuLmtzM2RWMEl1MGE5UUdT
        }
    }

    handle {
        reverse_proxy tastylabs:8080
        basicauth {
            TastyLabs JDJhJDE0JG1hZzNXaUlQeVdXUC5TZ05jem4vUE9mUnJPNExoWTBTd0lXeEpUc0ZJeFZYUnR3aGZ5Lkh1
        }
    }
}
