localhost, tastylabs.de, www.tastylabs.de {
    reverse_proxy tastylabs:8080
    
    basicauth /* {
        TastyLabs JDJhJDE0JG1hZzNXaUlQeVdXUC5TZ05jem4vUE9mUnJPNExoWTBTd0lXeEpUc0ZJeFZYUnR3aGZ5Lkh1
    }
}
