<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' href='/style.css'>
    <title>Recipes | tastylabs.de</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
<header>
    <div class="logo-container">
        <a href="/"><img class="resize" src="https://cdn.discordapp.com/attachments/977252981294653450/977476752043548712/TastyLabs_.png" alt="Logo TastyLabs"></a>
    </div>
    <nav>
        <ul class="nav-links">
            <li><a class="nav-link" href="/search.html">Search</a></li>
            <li><a class="nav-link" href="/create.html">Add Recipe</a></li>
            <li><a class="nav-link" href="/legal.html">Contact/About/Legal</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="text">

        <p th:if="${recipes.empty}">No recipes available.</p>
        <p th:text="${recipes.size()} + ' recipes found.'"></p>
        <ul th:each="recipe : ${recipes}">
            <li><a th:href="@{/recipe/{id}(id=${recipe.id})}" th:text="${#strings.abbreviate(recipe.title,25)}">Title</a></li>
        </ul>

        <p style="text-align: center;" >
            Made with <span style="color: tomato">♥</span> by 0xMuffinbaker, bensofficial, kuritika, tsukasaXkawaii
        </p>
    </div>
</main>
</body>
</html>
